* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

body::after {
  content: "";
  position: fixed;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.sticky {
  -webkit-box-shadow: #999999 0px 8px 6px -6px;
          box-shadow: #999999 0px 8px 6px -6px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  background-color: #0098a6;
}

.sticky a {
  color: #fff !important;
}

.active-link {
  background-color: #035b98;
  color: #fff !important;
  text-decoration: none;
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav .logo img {
  width: 200px;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  float: right;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav .nav-list .nav-item {
  margin-top: 20px;
}

.nav .nav-list .nav-item a {
  padding: 20px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.nav .nav-list .nav-item a:hover {
  background-color: #035b98;
  color: #fff;
  text-decoration: none;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

@media (max-width: 1500px) {
  .nav .nav-list {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media (max-width: 1000px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 775px) {
  .nav .nav-list {
    display: none;
  }
  .nav .logo {
    float: left !important;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .nav .side-btn {
    display: block !important;
  }
}

.menu-wrap {
  position: fixed;
  top: 10px;
  right: 15%;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: #000;
  background: #035b98;
  opacity: 0.9;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul {
  padding-left: 0px;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  letter-spacing: 2px;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

header {
  height: 100vh;
  width: 100%;
}

header .side-btn {
  padding-right: 20px;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
}

header .side-btn img {
  height: 80px;
}

header #blob {
  position: absolute;
  z-index: -1;
}

header .hero-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

header .hero-text .hero-main-text #day-title {
  height: 200px;
  width: 800px;
  padding-bottom: 30px;
}

header .hero-text .hero-bottom-text {
  text-align: center;
}

header .hero-text .hero-button {
  text-align: center;
}

header .hero-text .hero-button .btn-see-more,
header .hero-text .hero-button .btn-register {
  display: inline-block;
  text-align: center;
  padding: 13px 0px;
  color: #035b98;
  font-weight: bold;
  width: 30%;
  margin: 0 auto;
  cursor: pointer;
  border: 2px solid #035b98;
  margin: 20px 10px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  border-radius: 50px;
}

header .hero-text .hero-button .btn-see-more:hover,
header .hero-text .hero-button .btn-register:hover {
  background-color: #035b98;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  color: #fff;
  text-decoration: none;
}

header .hero-text .hero-button .btn-see-more:active,
header .hero-text .hero-button .btn-register:active {
  text-decoration: none;
}

@media (max-width: 750px) {
  header .hero-text .hero-button .btn-see-more,
  header .hero-text .hero-button .btn-register {
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0px;
    font-size: 0.8rem;
  }
}

header .hero-text .hero-button .btn-register {
  color: #0098a6;
  border: 2px solid #0098a6;
}

header .hero-text .hero-button .btn-register:hover {
  background-color: #0098a6;
}

header .balloons {
  position: absolute;
  bottom: 0;
  right: 0;
}

header .balloons img {
  height: 300px;
}

header .man #man-1 {
  position: absolute;
  top: 60%;
  left: 2%;
  height: 150px;
}

header .man #man-2 {
  position: absolute;
  top: 30%;
  left: 8%;
}

header .man #man-3 {
  position: absolute;
  top: 20%;
  height: 150px;
  right: 60px;
}

@media (max-width: 1100px) {
  header .hero-text #day-title {
    width: 80vmin !important;
    height: 50% !important;
    padding-bottom: 5px !important;
  }
  header .hero-text #day-subtitle {
    width: 80% !important;
  }
  header .man #man-1 {
    width: 30% !important;
    position: absolute;
    top: initial;
    bottom: 0 !important;
    left: 2%;
    height: 200px;
  }
  header .man #man-2 {
    position: absolute;
    width: 30% !important;
    bottom: 20% !important;
    left: 8%;
    top: initial;
  }
  header .man #man-3 {
    position: absolute;
    width: 30% !important;
    top: 15%;
    right: 30px;
  }
  header .balloons {
    bottom: 0;
    right: 0;
  }
  header .balloons img {
    height: 200px;
  }
}

.intro {
  height: 100minw;
  width: 100%;
  margin: auto auto;
  background-color: #035b98;
  color: #fff;
  position: relative;
}

.intro .intro-title {
  text-align: center;
  padding: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 5px;
}

@media (max-width: 1100px) {
  .intro .intro-title {
    font-size: 3rem;
    padding-bottom: 10px;
  }
}

.intro .intro-text {
  padding: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.intro .intro-text h3 {
  font-weight: bold;
}

@media (max-width: 1100px) {
  .intro .intro-text {
    font-size: 1rem;
    width: 100%;
  }
}

.imagebar-2 {
  height: 50vh;
  width: 80%;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/bg-2018.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/bg-2018.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 50px;
}

@media (max-width: 1100px) {
  .imagebar-2 {
    background-attachment: scroll !important;
    background-position: center;
  }
}

.countdown {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/bg-2016.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/bg-2016.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Luckiest Guy", cursive;
  color: #fff;
  z-index: 1000;
  background-position: center;
  padding-bottom: 100px;
}

@media (max-width: 1100px) {
  .countdown {
    height: 100%;
    background-attachment: scroll !important;
  }
}

.countdown .countdown-title {
  text-align: center;
  padding: 50px;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}

@media (max-width: 1100px) {
  .countdown .countdown-title {
    font-size: 4rem;
    padding: 80px 0px 0px;
  }
}

.countdown .countdown-items {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .countdown .countdown-items {
    font-size: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.countdown .countdown-items #days,
.countdown .countdown-items #mins,
.countdown .countdown-items #hours,
.countdown .countdown-items #secs {
  padding: 25px;
  margin: 10px;
  background-color: #0098a6;
  border-radius: 50px;
}

.banner-1 {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 1100px) {
  .banner-1 {
    padding: 50px 0px;
    height: 100%;
  }
}

.banner-1 .hashtag {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 10%;
  top: 0;
}

@media (max-width: 1100px) {
  .banner-1 .hashtag {
    height: 100px;
    width: 100px;
    right: 4%;
  }
}

.banner-1 .banner-1-title {
  font-size: 5rem;
  padding: 50px;
  padding-top: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .banner-1 .banner-1-title {
    font-size: 3rem !important;
    width: 100%;
    padding: 50px 0px;
  }
}

.banner-1 .banner-1-text {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 1100px) {
  .banner-1 .banner-1-text {
    font-size: 1.5rem !important;
  }
}

.about-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 1100px) {
  .about-day {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-day .about-day-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/bg-2016.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/bg-2016.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 80%;
  margin: 0 auto;
  z-index: 2;
}

@media (max-width: 1100px) {
  .about-day .about-day-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-attachment: scroll !important;
    height: 50vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/img/bg-2016.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/bg-2016.jpg);
  }
}

.about-day .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.about-day .container .about-day-title {
  font-size: 5rem;
  text-align: center;
  letter-spacing: 2px;
}

@media (max-width: 1100px) {
  .about-day .container .about-day-title {
    font-size: 3rem;
  }
}

.about-day .container .about-day-text {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

@media (max-width: 1100px) {
  .about-day .container .about-day-text {
    font-size: 1rem;
  }
}

footer {
  height: 100%;
  text-align: center;
  background-color: #0098a6;
  color: #fff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

footer .footer-main-title {
  font-size: 3rem;
}

@media (max-width: 1100px) {
  footer .footer-main-title {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px;
  }
}

footer .footer-logo {
  height: 150px;
}

@media (max-width: 1100px) {
  footer .footer-logo {
    height: 100px;
  }
}

.subscribe {
  position: relative;
  padding: 130px 0px 200px;
  min-height: 80vh;
  margin: 20px 0px;
}

.subscribe label {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem !important;
}

.subscribe #mc_embed_signup_scroll input {
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.subscribe #mc_embed_signup_scroll .button {
  background-color: #035b98;
  font-family: "Raleway", sans-serif;
}

.subscribe .left-bg {
  position: absolute;
  left: 0;
  top: -40%;
  height: 700px;
}

.subscribe .right-bg {
  position: absolute;
  right: 0;
  top: -40%;
  height: 700px;
}

@media (max-width: 750px) {
  .subscribe {
    padding: 200px 20px;
    margin-top: 0px;
  }
  .subscribe label {
    font-size: 2.5rem !important;
  }
  .subscribe .left-bg,
  .subscribe .right-bg {
    top: 5%;
    height: 600px;
    width: 150px;
  }
}
/*# sourceMappingURL=app.css.map */