$title-size: 5rem;
$para-size: 1.5rem;
$title-mobile-size: 3rem;
$para-mobile-size: 1.5rem;
$font: "Luckiest Guy", cursive;
$font-para: "Raleway", sans-serif;

//colours
$purple: #981c81;
$dark-blue: #035b98;
$light-blue: rgb(0, 152, 166);

// breakpoints
// $mobile: 576px;
$mobile: 1100px;
