@import "variables";

* {
    box-sizing: border-box;
}

// Global Styles
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    &::before {
        content: "";
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
        z-index: 100;
    }

    &::after {
        content: "";
        position: fixed;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
        z-index: 100;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.sticky {
    box-shadow: rgb(153, 153, 153) 0px 8px 6px -6px;
    transition: all 0.3s ease-in-out 0s;
    background-color: $light-blue;
    a {
        color: #fff !important;
    }
}

.active-link {
    background-color: $dark-blue;
    color: #fff !important;
    text-decoration: none;
}

// End Global Styles

// Navigation bar

.nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // border-bottom: 1px solid gray;
    // background-color: #f2f2f2;

    .logo {
        // float: left;
        flex: 2;
        // background-color: #fff;
        // padding: 20px;
        img {
            width: 200px;
            // height: 100px;
        }
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        float: right;
        flex: 2;
        // float: right;

        .nav-item {
            // padding-right: 20px;
            // margin-top: 50px;
            margin-top: 20px;
            a {
                padding: 20px 40px;
                font-family: $font-para;
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 1.2rem;
                // margin-top: 20px;
                cursor: pointer;
                text-transform: uppercase;

                color: #000;
                transition: ease-out 0.2s;

                &:hover {
                    background-color: $dark-blue;
                    color: #fff;
                    text-decoration: none;
                    transition: ease-in 0.5s;
                }
            }
        }
    }

    @media (max-width: 1500px) {
        .nav-list {
            flex: 5;
        }
    }

    @media (max-width: 1000px) {
        flex-direction: column;
    }

    @media (max-width: 775px) {
        .nav-list {
            display: none;
        }

        .logo {
            float: left !important;
            align-self: flex-start;
        }

        .side-btn {
            display: block !important;
            // align-self: flex-end;
        }
    }
}

// End navigation bar

// Sidebar styles

.menu-wrap {
    position: fixed;
    top: 10px;
    right: 15%;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    // background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.7s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: #000; //overlay color
    background: $dark-blue;
    opacity: 0.9;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul {
    padding-left: 0px;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    letter-spacing: 2px;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-family: $font-para;
    font-size: 2rem;
    font-weight: bold;
}

// End Sidebar styles

// Header

header {
    height: 100vh;
    width: 100%;

    .side-btn {
        padding-right: 20px;
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        img {
            height: 80px;
        }
    }

    #blob {
        position: absolute;
        z-index: -1;
        // width: 100%;
    }

    .hero-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .hero-main-text {
            // margin-bottom: 40px;

            #day-title {
                height: 200px;
                width: 800px;
                padding-bottom: 30px;
            }
        }

        .hero-bottom-text {
            text-align: center;
        }

        .hero-button {
            text-align: center;
            .btn-see-more,
            .btn-register {
                display: inline-block;
                text-align: center;
                padding: 13px 0px;
                color: $dark-blue;
                font-weight: bold;
                // background-color: $light-blue;
                // background-color: none;
                width: 30%;
                margin: 0 auto;
                cursor: pointer;
                // border-radius: 50%;
                border: 2px solid $dark-blue;
                margin: 20px 10px;
                transition: all ease-in 0.3s;
                font-family: $font-para;
                letter-spacing: 1px;
                border-radius: 50px;

                &:hover {
                    background-color: $dark-blue;
                    transition: all ease-in 0.3s;
                    color: #fff;
                    text-decoration: none;
                }

                &:active {
                    text-decoration: none;
                }

                @media (max-width: 750px) {
                    padding-top: 7px;
                    padding-bottom: 7px;
                    margin: 0px;
                    font-size: 0.8rem;
                }
            }

            .btn-register {
                color: $light-blue;
                border: 2px solid $light-blue;
                &:hover {
                    background-color: $light-blue;
                    // background-image: linear-gradient(
                    //     to left,
                    //     #035b98,
                    //     rgb(0, 152, 166)
                    // );
                    // transition: 0.6s ease-in;
                }
            }
        }
    }

    .balloons {
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            height: 300px;
        }
    }

    .man {
        #man-1 {
            position: absolute;
            top: 60%;
            left: 2%;
            height: 150px;
        }
        #man-2 {
            position: absolute;
            top: 30%;
            left: 8%;
        }
        #man-3 {
            position: absolute;
            top: 20%;
            height: 150px;
            right: 60px;
        }
    }
    @media (max-width: $mobile) {
        .hero-text {
            #day-title {
                width: 80vmin !important;
                height: 50% !important;
                padding-bottom: 5px !important;
            }
            #day-subtitle {
                width: 80% !important;
                // height: 80%;
            }
        }
        .man {
            #man-1 {
                width: 30% !important;
                position: absolute;
                top: initial;
                bottom: 0 !important;
                left: 2%;
                height: 200px;
            }
            #man-2 {
                position: absolute;
                width: 30% !important;
                bottom: 20% !important;
                left: 8%;
                top: initial;
            }
            #man-3 {
                position: absolute;
                width: 30% !important;
                top: 15%;
                right: 30px;
            }
        }

        .balloons {
            bottom: 0;
            right: 0;

            img {
                height: 200px;
            }
        }
    }
}

// End Header

// Introduction

.intro {
    height: 100minw;
    width: 100%;
    margin: auto auto;
    background-color: #035b98;
    color: #fff;
    position: relative;

    .intro-title {
        text-align: center;
        // text-transform: uppercase;
        padding: 50px;
        // font-family: 'Luckiest Guy', cursive;
        // font-size: 4rem;
        font-family: $font-para;
        // font-family: $font-para;
        font-weight: bold;
        font-size: $title-size;
        letter-spacing: 5px;
        padding-bottom: 0px;

        @media (max-width: $mobile) {
            font-size: $title-mobile-size;
            padding-bottom: 10px;
        }
    }

    .intro-text {
        padding: 20px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        font-size: $para-size;
        font-family: $font-para;

        h2 {
            font-weight: bold;
            padding: 20px;
        }

        @media (max-width: $mobile) {
            font-size: 1rem;
            width: 100%;
        }
    }
}

// End Introduction

.imagebar-2 {
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(/img/bg-2018.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;

    @media (max-width: $mobile) {
        background-attachment: scroll !important;
        background-position: center;
    }
}

// Countdown

.countdown {
    // background: url(/img/hero1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(/img/bg-2016.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: "Luckiest Guy", cursive;
    color: #fff;
    z-index: 1000;
    background-position: center;
    padding-bottom: 100px;

    @media (max-width: $mobile) {
        height: 100%;
        background-attachment: scroll !important;
    }

    .countdown-title {
        text-align: center;
        padding: 50px;
        font-size: $title-size;
        font-family: $font-para;
        font-weight: bold;
        letter-spacing: 2px;

        @media (max-width: $mobile) {
            font-size: $title-mobile-size + 1;
            padding: 80px 0px 0px;
        }
    }

    .countdown-items {
        // color: #fff;
        width: 80%;
        margin: 0 auto;
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        font-family: $font-para;
        font-weight: bold;

        @media (max-width: $mobile) {
            font-size: $para-mobile-size + 1;
            flex-direction: column;
        }

        .cover {
            padding: 55px;
            margin: 10px;
            background-color: rgb(0, 152, 166);
            border-radius: 50px;
            text-align: center;
            font-size: 2rem;
            font-family: $font-para;
            letter-spacing: 1px;

            @media (max-width: $mobile) {
                font-size: 1rem;
                padding-bottom: 0px;
                padding-top: 0px;
            }
        }

        #days,
        #mins,
        #hours,
        #secs {
            // border: 1px solid #000;
            font-size: 5rem;

            @media (max-width: $mobile) {
                font-size: 3rem;
            }
        }
    }
}

// End Countdown

.banner-1 {
    height: 100vh;
    // color: $purple;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: $mobile) {
        padding: 50px 0px;
        height: 100%;
        // padding-top: 100px;
    }

    .hashtag {
        position: absolute;
        width: 200px;
        height: 200px;
        right: 10%;
        top: 0;

        @media (max-width: $mobile) {
            height: 100px;
            width: 100px;
            right: 4%;
        }
    }

    .banner-1-title {
        font-size: $title-size;
        padding: 50px;
        padding-top: 0px;
        // font-family: $font;
        font-family: $font-para;
        font-weight: bold;
        // margin-top: 100px;
        @media (max-width: $mobile) {
            font-size: $title-mobile-size !important;
            width: 100%;
            padding: 50px 0px;
            // padding-top: 100px;
        }
    }

    .banner-1-text {
        font-size: 2rem;
        width: 80%;
        margin: 0 auto;
        font-family: $font-para;

        @media (max-width: $mobile) {
            font-size: $para-mobile-size !important;
        }
    }
}

// About Day Section

.about-day {
    display: flex;
    position: relative;
    // padding: 20px;
    // height: 100vh;
    font-family: $font-para;

    @media (max-width: $mobile) {
        flex-direction: column;
    }

    .about-day-img {
        position: absolute;
        @media (max-width: $mobile) {
            height: 300px;
            // flex-direction: column;
            // background-attachment: scroll !important;
            // height: 50vh;
            // background-image: linear-gradient(
            //         rgba(0, 0, 0, 0.3),
            //         rgba(0, 0, 0, 0.3)
            //     ),
            //     url(/img/bg-2016.jpg);
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        // height: 100vmin;

        .about-day-title {
            font-size: $title-size;
            text-align: center;
            letter-spacing: 2px;
            padding: 10px 0px;
            font-weight: bold;
            @media (max-width: $mobile) {
                font-size: $title-mobile-size;
            }
        }

        .about-day-text {
            font-size: $para-size;
            font-family: $font-para;
            text-align: center;
            @media (max-width: $mobile) {
                font-size: 1rem;
            }
        }
    }
}

// End Day Section

// Footer

footer {
    height: 100%;
    text-align: center;
    // margin: auto auto;
    background-color: $light-blue;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // color: $dark-blue;
    // color: $light-blue;
    color: #fff;
    font-family: $font-para;
    letter-spacing: 2px;
    flex-direction: column;
    padding-bottom: 20px;
    // font-weight: bold;

    .footer-main-title {
        font-size: $title-size - 2;

        @media (max-width: $mobile) {
            font-size: $title-mobile-size - 1;
            width: 80%;
            margin: 0 auto;
            padding: 10px 0px;
        }
    }

    .footer-logo {
        // width: 700px;
        height: 250px;

        @media (max-width: $mobile) {
            height: 100px;
        }
    }
}

// End Footer

// Subscription Section

.subscribe {
    position: relative;
    padding: 130px 0px 200px;
    // background-color: #f2f2f2;
    min-height: 80vh;
    margin: 20px 0px;

    label {
        font-family: $font-para;
        font-size: 3.5rem !important;
    }
    #mc_embed_signup_scroll {
        input {
            width: 100%;
            font-family: $font-para;
        }

        .button {
            background-color: $dark-blue;
            font-family: $font-para;
        }
        // width: 80%;
    }

    .left-bg {
        position: absolute;
        left: 0;
        top: -40%;
        height: 700px;
    }

    .right-bg {
        position: absolute;
        right: 0;
        top: -40%;
        height: 700px;
    }
    @media (max-width: 750px) {
        padding: 200px 20px;
        margin-top: 0px;

        label {
            font-size: 2.5rem !important;
        }

        .left-bg,
        .right-bg {
            top: 5%;
            height: 600px;
            width: 150px;
        }
    }
}

// End Subscription Section

// [data-scroll] {
//     transition: opacity 1s;
// }
// [data-scroll="in"] {
//     opacity: 1;
// }
// [data-scroll="out"] {
//     opacity: 0;
// }
